[Unit]
Description="rOCCI-server HTTPS Service"
After=network.target
Requires=occi-server.socket

[Service]
Type=simple
User=rocci
WorkingDirectory=/opt/occi-server/embedded/app/rOCCI-server
# ExecStart="bundle exec --keep-file-descriptors puma"
ExecStart="/opt/occi-server/bin/occi-server"
Restart=always

[Install]
WantedBy=multi-user.target
