[Unit]
Description="rOCCI-server HTTPS Service"
After=network.target
Requires=occi-server.socket

[Service]
Type=simple
User=rocci
WorkingDirectory=/opt/occi-server/embedded/app/rOCCI-server
Environment="RAILS_ENV=production"
# Environment="HOST=0.0.0.0"
Environment="PORT=11443"
Environment="SECRET_KEY_BASE=a271402df66e152767d7b2149b8773adf242401eb8000e02a55a5d452fe2e47f7cf05969b8b77d1acb6319c9286e13ea3311b3e180115e9327482b5ecfa2f353"
# Environment="HOST_CERT=/path/to/cert"
# Environment="HOST_KEY=/path/to/key"
ExecStart="bundle exec --keep-file-descriptors puma"
Restart=always

[Install]
WantedBy=multi-user.target
